.game {
    width: 50%;
    margin: 15vh auto;
}

.game--flex {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.result {
    height: 2rem;
}

.game_container--flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}