.game {
    width: 50%;
    margin: 15vh auto;
}

.game--flex {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.result {
    height: 2rem;
}

.game-container {
    padding: 1rem 0;
}

.game_container--flex {
    display: flex;
    gap: 1rem;
}

.start_game__btn {
    padding: 0.3rem 1.3rem;
}

.user_option--flex {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

