@import url("https://fonts.googleapis.com/css?family=Electrolize");

.whole_game {
    width: 50%;
    margin: auto;
}

.whole_game--flex {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
}

.game {
    width: 50%;
    margin: auto;
}

.game--flex {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.result {
    height: 2rem;
}

.result--flex {
    display: flex;
    align-items: center;
}

.result__text {
    width: 100%;
}

.result__text--txt {
    text-align: center;
}

.game-container {
    padding: 1rem 0;
}

.game_container--flex {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.start_game {
    padding: 4.5rem 0;
    width: 100%;
    align-self: center;
}

.start_game__btn {
    padding: 0.3rem 1.3rem;
    margin: auto;
    display: block;
}

.user_option--flex {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.user_option__img {
    height: 8rem;
    width: 8rem;
    object-fit: contain;
}

.user_option__img--hov {
    transition: transform 150ms ease-in-out;
}

.user_option__img--hov:hover {
    transform: scale(1.05);
}

.user_option__p--txt {
    text-align: center;
    margin: 0;
    margin-top: 1rem;
}

.computer_option {
    margin: auto;
}

.computer_option__img {
    height: 8rem;
    width: 8rem;
    object-fit: contain;
}

.computer_option__p--txt {
    text-align: center;
    margin: 0;
    margin-top: 1rem;
}

.play_again {
    align-self: center;
}

.play_again__btn {
    padding: 0.3rem 1.3rem;
}

.run_count {
    height: 7rem;
    min-width: 7rem;
}

.run_count--flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem;
}

.display--none {
    display: none;
}